
.header{
    background-color: #000000;
    margin-bottom: -18px;
}

#logo
{
    width: 1024px;
	max-height: 135px;
}

.menu{
    width: 1024px;
    display: table;
    background: url(menu_background.jpg) repeat-x;
}

ul#menu_bar li{
    display: inline;
    padding: 0.2%;
}

#indication{
    display: table;
    margin-top: 18px;
    border-bottom: 3px solid black;
    width: 100%;
}

ul#indication_bar li{
    padding: 10px;
    display: inline;
    color: #FFFFFF;
}

#menu_bar li a{
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

#menu_bar li a:hover{
    color:#000000;
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
     #menu_bar li a{
        display:block;
        margin:0.4em auto;
        }
    }


#footer_bar{
    width: 100%;
    height: 25px;
    background: url(menu_background.jpg) repeat-x;
}

a.footerButton{
    display: inline-block;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:#c2c1c1;
    text-align:center;
    padding-top: 5px;
    font-weight:150;
    font-size: 14px;
}

a.footerButton:hover{
    color:#ffffff;
}

#blabla.input{
    width: 20px;

}

.content{
    height: 680px;
    width: 100%;
    background: #2d2c3e;
    margin-bottom: -18px;
}

#welcome{
    text-align: center;
}

#welcome_ul li{
    list-style-type:none;
    padding-top: 2.5%;
}

button, #register_form input[type=submit] {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #38374d;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border-style: double;
    border-color:#6f6d8a ;
}

button:before, #register_form input[type=submit]::before {
    content: '';
    background: linear-gradient(45deg, #7a00ff, #7064f4, #002bff, #7a00ff, #7064f4, #002bff, #7a00ff, #7064f4, #7a00ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}

button:active, #register_form input[type=submit]:active {
    color: #000
}

button:active:after, #register_form input[type=submit]:active::after {
    background: transparent;
}

button:hover:before, #register_form input[type=submit]:hover::before {
    opacity: 1;
}

button:after, #register_form input[type=submit]::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #38374d;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#register{
    margin-top: 18px;
}

#register_form input[type=text],#register_form input[type=password] ,select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 250px;
  }

#register_form{
    text-align: center;
}
  
#register_form_ul {
    font-size: 20px;
    list-style-type:none;
    color: #FFFFFF;
    text-align-last: center;
    margin-left: auto; 
	margin-right: auto;
    display: inline-block; 
	text-align: left; 
}

#register_form_ul li {
    margin-top: 3%; 
}

body {
    max-width: 95%;
}