
.header{
    background-color: #000000;
    margin-bottom: -18px;
}

#logo
{
    width: 1024px;
	max-height: 135px;
}

.menu{
    width: 1024px;
    display: table;
    background: url('../resources/menu_background.jpg') repeat-x;
}

ul#menu_bar li{
    display: inline;
    padding: 0.2%;
}

#indication{
    display: table;
    margin-top: 18px;
    border-bottom: 3px solid black;
    width: 100%;
}

ul#indication_bar li{
    padding: 10px;
    display: inline;
    color: #FFFFFF;
}

a.menu_button{
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

a.menu_button:hover{
    color:#000000;
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
     a.menu_button{
        display:block;
        margin:0.4em auto;
        }
    }

#hello_user{
    color: white;
}

#footer_bar{
    max-width: 100%;
    height: 25px;
    background: url('../resources/menu_background.jpg') repeat-x;
}

a.footerButton{
    display: inline-block;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:#c2c1c1;
    text-align:center;
    padding-top: 5px;
    font-weight:150;
    font-size: 14px;
}

a.footerButton:hover{
    color:#ffffff;
}

#blabla.input{
    width: 20px;

}

#content{
    height: 680px;
    width: 100%;
    background: #44435e;
    margin-bottom: -18px;
}

#welcome{
    text-align: center;
}

#welcome_ul li{
    list-style-type:none;
    padding-top: 2.5%;
}

button{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #3f3e58;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border-style: double;
    border-color:#6f6d8a ;
}

button:before{
    content: '';
    background: linear-gradient(45deg, #7a00ff, #7064f4, #002bff, #7a00ff, #7064f4, #002bff, #7a00ff, #7064f4, #7a00ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}

button:active{
    color: #000
}

button:active:after{
    background: transparent;
}

button:hover:before{
    opacity: 1;
}


button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3f3e58;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#register{
    margin-top: 18px;
    text-align: center;
}

#register_form_ul input[type=text],#register_form_ul input[type=password] ,select, #register_form_ul input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 250px;
  }
  
#register_form_ul {
    font-size: 20px;
    list-style-type:none;
    color: #FFFFFF;
    text-align-last: center;
    margin-left: auto; 
	margin-right: auto;
    display: inline-block; 
	text-align: left; 
}

#register_form_ul li {
    margin-top: 3%; 
}

body {
    max-width: 100%;
}

#setting_div {


    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 800px;
}

.setting_header {
    border: 1px solid #605e6e;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    opacity: 90%;
    background-color: #1f1e35;
    color: rgb(255, 255, 255);
    font-size: 1.15em;
    padding: 0.2rem;
    text-align: center;
    text-transform: uppercase;
 }

.setting_header table {
    width: 100%;
}
.setting_header table tr td{
    color: black;
    font-size: 0.9em;
    padding: 5px;
}
.setting_header table tr td {
    text-align: center;
    vertical-align: middle;
}

.setting_header table tr td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: left;
}

.setting_header table tr:nth-child(2n) {
    background-color: #ffffffad;
}
.setting_header table tr:nth-child(2n+1) {
    background-color: #ddddddbb;
}

.setting_header table tr td input{
    background-color: #ffffffaf;
    border-radius: 15px;
    text-align: center;
}

.setting_header table tr td select{
    background-color: #ffffffaf;
    border-radius: 15px;
    width: fit-content;
    height:fit-content;
    text-size-adjust: auto;
    text-align: center;
}

#setting_buttons_table{
    text-align: center;
    list-style-type: none;
}

#setting_buttons_table li{
    padding-bottom: 15px;
}

.setting_header table tr td input[type=color] {
    width: 6%;
}

.setting_header table tr td input[type=text] {
    width: 15%;
}

#game_ul {
    list-style-type: none;
}

#game_ul li{
    display: inline-block;
    vertical-align:top;
}

#game_ul li div a{
    color: white;
    font-size: 10px;
    padding-bottom: 5px;
}

.colored_block{
    width: 100%;
    list-style-type: none;
    align-items: left;
    padding-inline-start: 0%;
}

.colored_block li{
    padding-right: 5px;
    display:inline-block;
}

.colored_block_canvas{
    width: 16px;
    height: 16px;
}

#win_window{
    background: url('../resources/winner-background.jpg');
    background-repeat: no-repeat; 
    background-size: 400px 300px;
    box-sizing: border-box;
    border-style: solid;
    position: absolute;
    justify-content: space-between;
    width: 400px;
    height: 300px;
    top: 350px;
    left: 675px;
}

#lose_window{
    background: url('../resources/pacman-ghosts-orange.png');
    background-repeat: no-repeat; 
    background-size: 250px 150px;
    background-position: center;
    background-color: black;
    box-sizing: border-box;
    border-style: solid;
    border-color: red;
    position: absolute;
    justify-content: space-between;
    width: 400px;
    height: 300px;
    top: 350px;
    left: 675px;
}

#win_window a{
    color: white;
    font-size: 20px;
    margin-left: 35%;
}

#lose_window a{
    color: red !important;
    font-size: 20px !important;
    margin-left: 35% !important;
}

#win_window ul, #lose_window ul{
    list-style-type: none;
}

.win_li{
    padding-bottom: 165px;
}

#win_window button{
    color:black;
}

.win_button{
    margin-left: 32.5px;
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: #ebe1c6;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border-style: double;
    border-color:#242427 ;
}

.win_button:before {
    content: '';
    background: linear-gradient(45deg, #ffffff, #ebe1c6, #ad7649, #ffffff, #ebe1c6, #ad7649, #ffffff, #ebe1c6, #ad7649);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}

.win_button:active{
    color: #000
}

.win_button:active:after{
    background: transparent;
}

.win_button:hover:before{
    opacity: 1;
}


.win_button:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ebe1c6;
    left: 0;
    top: 0;
    border-radius: 10px;
}


.lose_button{
    margin-left: 32.5px;
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(255, 0, 0);
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border-style: double;
    border-color:#242427 ;
}

.lose_button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff6600, #ff5882, #000000, #ff0000, #ff6600, #ff5882, #000000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}

.lose_button:active{
    color: #000
}

.lose_button:active:after{
    background: transparent;
}

.lose_button:hover:before{
    opacity: 1;
}


.lose_button:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#closeModal{
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #3f3e58;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border-style: double;
    border-color:#6f6d8a ;
}

.modal-content{position:relative;background-color:#3f3e58; color: white; background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);outline:0}
.modal-header{padding:15px;border-bottom:1px solid #e5e5e5}.modal-header .close{margin-top:-2px}
.modal-title{margin:0;line-height:1.42857143}
.modal-body{position:relative;padding:15px}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
.modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin:10px}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-dialog{-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%);-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out}.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.modal-dialog{width:600px;margin:100px auto}